.menu {
    -fx-padding: 5 5 3 10;
    -fx-border-color: #CDD9ED;
    -fx-border-width: 0 0 1 0;
    -fx-spacing: 10;
}

.label {
    -fx-text-fill: #99A3BA;
}

#changeBuilder {
    -fx-background-color: #EEF4FF;
    -fx-text-fill: #99A3BA;
    -fx-font-size: 12;
    -fx-padding: -3 0 0 0;
    -fx-min-height: 20;
    -fx-max-height: 20;
}

#changeBuilder:hover {
    -fx-background-color: #CDD9ED;
    -fx-text-fill: #678EFE;
}

#close {
    close_size: 12;

    -fx-border: none;
    -fx-min-width: close_size;
    -fx-min-height: close_size;
    -fx-max-width: close_size;
    -fx-max-height: close_size;
    -fx-background-radius: 50%;
    -fx-background-color: #ff5c5c;
}

#close:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#close:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    -fx-effect: innershadow(gaussian, red, 10, 0, 0, 0);
}