.root {
    input-color: #99A3BA;
    input-border: #CDD9ED;
    input-background: #fff;
    input-placeholder: #CBD1DC;

    color-correct: #1ABC9C;
    color-incorrect: #B50706;

    label-color: #99A3BA;
    label-border: #CDD9ED;
    label-background: #EEF4FF;

    color-focus: #678EFE;

    label-color-default: #fff;

    -fx-background-color: label-background;
}

.main {
    -fx-padding: 20 30 5 20;
    -fx-spacing: 20;
}

#container {
    -fx-border-color: input-border;
    -fx-border-width: 1;
}

#container.focus {
    -fx-border-color: color-focus;
}

#container.correct {
    -fx-border-color: color-correct;
}

#container.incorrect {
    -fx-border-color: color-incorrect;
}

#label {
    -fx-background-color: label-background;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: input-border;
    -fx-text-fill: label-color;
}

#label.focus {
    -fx-background-color: color-focus;
    -fx-border-color: color-focus;
    -fx-text-fill: label-color-default;
}

#label.correct {
    -fx-background-color: color-correct;
    -fx-border-color: color-correct;
    -fx-text-fill: label-color-default;
}

#label.incorrect {
    -fx-background-color: color-incorrect;
    -fx-border-color: color-incorrect;
    -fx-text-fill: label-color-default;
}

.text-field {
    -fx-background-color: input-background;
    -fx-background-radius: none;
}

.mainButton {
    -fx-background-color: label-background;
    -fx-border-color: input-border;
    -fx-text-fill: label-color;
}

.mainButton:hover {
    -fx-background-color: input-border;
    -fx-text-fill: color-focus;
}

.icon-button {
    -icon-paint: input-border;
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M2205.8 547.4L1151.9 547.4L917.7 313.2L332.2 313.2C 203.39 313.2 98 418.59 98 547.4L98 547.4L98 1015.8L2440 1015.8L2440 781.6C 2440 652.79 2334.61 547.4 2205.8 547.4z M2205.8 547.4L332.2 547.4C 203.39 547.4 98 652.79 98 781.6L98 781.6L98 1952.6C 98 2081.41 203.39 2186.8 332.2 2186.8L332.2 2186.8L2205.8 2186.8C 2334.61 2186.8 2440 2081.41 2440 1952.6L2440 1952.6L2440 781.6C 2440 652.79 2334.61 547.4 2205.8 547.4z";
}

.labelError {
    -fx-text-fill: color-incorrect;
}

.labelProcessing {
    -fx-text-fill: black;
}

.labelDone {
    -fx-text-fill: color-correct;
}

#progressBar.focus {
    -fx-accent: color-focus;
}

#progressBar.correct {
    -fx-accent: color-correct;
}

#progressBar.incorrect {
    -fx-accent: color-incorrect;
}

.procContainer {
    -fx-padding: 10 0 -15 20;
    -fx-spacing: 20;
}

#processing {
    -fx-padding: 0 20 0 0;
    -fx-spacing: 5;
}

.step {
    -fx-spacing: 5;
    -fx-alignment: CENTER_LEFT;
}

.checkboxes {
    -fx-spacing: 5;
    -fx-padding: 0 0 17 0;
}

#linkLogFile {
    -fx-padding: -10 0 5 5;
    -fx-background-color: label-background;
    -fx-text-fill: label-color;
    -fx-underline: true;
}

#linkLogFile:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#linkLogFile:pressed {
    -fx-scale-y: 1.0;
    -fx-scale-x: 1.0;
    -fx-text-fill: #7f8799;
}